<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebei.eba.mapper.WarningMsgMapper">
    <!-- auto code version 1.4 -->
    <!-- 通用查询映射结果 自动生成 2018-09-10 -->
    <resultMap id="BaseResultMap" type="com.ebei.eba.model.entity.WarningMsg">
        <id column="message_id" property="messageId" />
        <result column="param_detail_id" property="paramDetailId" />
        <result column="message_info" property="messageInfo" />
        <result column="unit" property="unit" />
        <result column="state" property="state" />
        <result column="creator" property="creator" />
        <result column="create_date" property="createDate" />
        <result column="operator" property="operator" />
        <result column="operate_date" property="operateDate" />
    </resultMap>

    <!-- 通用查询结果列 自动生成 2018-09-10 -->
    <sql id="Base_Column_List">
 message_id AS messageId, param_detail_id AS paramDetailId, message_info AS messageInfo,unit,state,creator, create_date AS createDate,operator, operate_date AS operateDate    </sql>

    <!-- 自动生成 2018-09-10 -->
    <select id="selectMapList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        <include refid="Base_Column_List" />
        FROM iot_warning_msg
        WHERE 1=1
            <if test="messageId != null" >
                and message_id = #{messageId}
            </if>
            <if test="paramDetailId != null" >
                and param_detail_id = #{paramDetailId}
            </if>
            <if test="messageInfo != null" >
                and message_info = #{messageInfo}
            </if>
            <if test="unit != null" >
                and unit = #{unit}
            </if>
            <if test="state != null" >
                and state = #{state}
            </if>
            <if test="creator != null" >
                and creator = #{creator}
            </if>
            <if test="createDate != null" >
                and create_date = #{createDate}
            </if>
            <if test="operator != null" >
                and operator = #{operator}
            </if>
            <if test="operateDate != null" >
                and operate_date = #{operateDate}
            </if>
    </select>

    <!-- 前端页面select框查询 自动生成 2018-09-10 -->
    <select id="getLabelAndValueList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        t.message_id as value,
        t.message_name as label
        FROM iot_warning_msg t
        WHERE 1=1 and t.state =1
    <if test="messageId != null" >
        and t.message_id = #{messageId}
    </if>
    <if test="paramDetailId != null" >
        and t.param_detail_id = #{paramDetailId}
    </if>
        order by t.operate_date desc
    </select>

    <!-- emptyMethod1 方法 自动生成 2018-09-10 -->
    <select id="emptyMethod1" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * from iot_warning_msg t where 1=1 and t.state =1
    </select>
    <!-- emptyMethod2 方法 自动生成 2018-09-10 -->
    <select id="emptyMethod2" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * from iot_warning_msg t where 1=1 and t.state =1
    </select>
    <!-- getShowDeviceLevelPage 方法 自动生成 2018-09-10 -->
    <select id="getShowDeviceLevelPage" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * from iot_warning_msg t where 1=1 and t.state =1
    </select>

</mapper>
